/*
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #e39e4f; 
    color: white; 
    box-shadow: 0 4px 17px rgba(0, 0, 0, .1);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 24px;
    margin: 0; 
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #d4d3cb; 
    border: 1px solid #aaa;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:hover {
    background-color: #e1a852; 
}

h1 {
    font-size: 24px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #e9af1d; 
    color: white; 
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover {
    background-color: #e7940e; 
}
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    font-family: Arial, sans-serif;
        background-image: url('tictac.jpg'); /* Replace 'background-image.jpg' with the path to your image */
        background-size: cover; /* Cover the entire background */
        background-repeat: no-repeat; /* Do not repeat the background image */
        background-position: center; /* Center the background image */

    
}

.header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #e9af1d; 
    color: white; 
    box-shadow: 0 4px 17px rgba(0, 0, 0, .1);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #e9af1d; 
    color: white; 
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover {
    background-color: #e7940e; 
}
button:active {
    background-color: rgb(233, 175, 175);
}
button.highlight {
    background-color: rgb(0, 0, 0); /* Change color when clicked */
}
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #eee;
    border: 1px solid #aaa;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:hover {
    background-color: #ddd;
}

h1 {
    font-size: 24px;
}
